.card {
    background-color:lighten(#1b1f22, 5%) !important;
}

.card-title {    
    font-size: 18px !important;
    font-weight: 600 !important;
    a:hover {
        color: #039be5 !important;
    }
}

.link-styles {
    border-bottom: none;
    color: #fff !important;    
}

.card-content {
    padding: 9px !important;
}



